In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import PIL

## Download and explore the dataset

In [2]:
csv_combine = pd.read_csv("../../data/Csv/train.csv")
csv_test = pd.read_csv("../../data/Csv/test.csv") 
image_dim = 418

In [3]:
class_id = {}
for i,cl in enumerate(csv_combine.class_id.unique()):
    class_id[cl] = i
nclass = i+1

In [4]:
csv_train = csv_combine
train_size = len(csv_train)
test_size = len(csv_test)

In [5]:
df = csv_train
classesdf=df.groupby(['binomial', 'class_id']).size()
pd.set_option('display.max_rows', classesdf.shape[0]+1)
print("Species".ljust(30)+"class_id".ljust(10)+"No Of Images")
print(classesdf)
pd.set_option('display.max_rows', 5)

Species                       class_id  No Of Images
binomial                      class_id
Agkistrodon contortrix        18          180
Agkistrodon piscivorus        20          200
Ahaetulla nasuta              25          199
Ahaetulla prasina             26          200
Arizona elegans               39          181
Aspidites melanocephalus      41          154
Atractus crassicaudatus       48          187
Austrelaps superbus           52          201
Bitis arietans                54          183
Bitis gabonica                57          186
Boa constrictor               60          121
Bogertophis subocularis       65          197
Boiga irregularis             71          196
Boiga kraepelini              73          201
Bothriechis schlegelii        83          208
Bothrops asper                87          202
Bothrops atrox                88          184
Bungarus multicinctus         99          168
Carphophis amoenus            110         175
Carphophis vermis             111         197
Causus rhombeatus             113         193
Cemophora coccinea            114         188
Charina bottae                122         190
Chrysopelea ornata            135         183
Clonophis kirtlandii          140         175
Contia tenuis                 155         193
Corallus caninus              158         190
Corallus hortulanus           159         186
Coronella girondica           162         184
Crotalus adamanteus           163         173
Crotalus atrox                165         183
Crotalus cerastes             168         186
Crotalus cerberus             169         177
Crotalus lepidus              175         187
Crotalus molossus             177         177
Crotalus ornatus              180         179
Crotalus ruber                185         176
Crotalus scutulatus           186         184
Crotalus stephensi            188         189
Crotalus tigris               189         198
Crotalus triseriatus          191         189
Crotalus viridis              193         178
Crotaphopeltis hotamboeia     195         183
Daboia russelii               203         165
Dendrelaphis pictus           215         183
Dendrelaphis punctulatus      216         184
Dendroaspis polylepis         220         122
Diadophis punctatus           226         188
Drymarchon couperi            238         175
Elaphe dione                  255         161
Epicrates cenchria            263         184
Eunectes murinus              280         146
Farancia abacura              284         127
Gonyosoma oxycephalum         302         181
Hemorrhois hippocrepis        315         154
Heterodon nasicus             319         167
Heterodon simus               321         188
Hierophis viridiflavus        323         158
Hypsiglena torquata           335         172
Imantodes cenchoa             338         200
Lampropeltis alterna          345         190
Lampropeltis calligaster      348         170
Lampropeltis getula           352         180
Lampropeltis pyromelana       360         190
Lampropeltis triangulum       363         190
Lampropeltis zonata           364         189
Laticauda colubrina           368         186
Leptodeira annulata           373         186
Leptophis ahaetulla           381         173
Leptophis diplotropis         383         192
Leptophis mexicanus           384         178
Lycodon capucinus             396         171
Malpolon monspessulanus       422         171
Masticophis bilineatus        424         161
Masticophis lateralis         427         176
Masticophis schotti           429         158
Masticophis taeniatus         430         152
Micrurus fulvius              441         178
Micrurus tener                448         161
Morelia spilota               453         193
Morelia viridis               454         157
Naja atra                     457         180
Naja naja                     462         152
Naja nivea                    464         159
Natrix maura                  470         192
Nerodia cyclopion             474         172
Nerodia floridana             477         156
Nerodia taxispilota           481         157
Ninia sebae                   485         188
Opheodrys aestivus            495         172
Ophiophagus hannah            497         179
Oxybelis aeneus               507         170
Oxyuranus scutellatus         515         178
Phyllorhynchus decurtatus     544         176
Pituophis catenifer           545         177
Pituophis deppei              546         183
Protobothrops mucrosquamatus  560         185
Psammodynastes pulverulentus  562         188
Pseudaspis cana               575         158
Pseudechis australis          576         190
Pseudechis porphyriacus       578         158
Pseudonaja textilis           590         177
Python molurus                603         168
Python regius                 605         169
Regina septemvittata          609         177
Rhabdophis subminiatus        616         167
Rhabdophis tigrinus           617         160
Rhadinaea flavilata           619         180
Rhinocheilus lecontei         623         174
Salvadora grahamiae           628         165
Salvadora hexalepis           629         161
Senticolis triaspis           634         182
Sistrurus catenatus           651         163
Sistrurus miliarius           652         179
Spilotes pullatus             656         164
Tantilla coronata             672         197
Tantilla gracilis             674         193
Tantilla hobartsmithi         675         175
Tantilla planiceps            678         181
Thamnophis atratus            686         175
Thamnophis couchii            690         171
Thamnophis cyrtopsis          691         177
Thamnophis marcianus          696         183
Thamnophis ordinoides         698         171
Thamnophis proximus           699         151
Thamnophis radix              701         159
Trimeresurus stejnegeri       725         162
Tropidoclonion lineatum       738         173
Tropidolaemus subannulatus    740         178
Tropidolaemus wagleri         741         191
Vipera ammodytes              746         143
Vipera aspis                  747         157
Vipera seoanei                751         173
Virginia valeriae             755         167
Xenochrophis piscator         758         165
dtype: int64

In [6]:
species = df.loc[df['class_id'] == 110, 'binomial'].unique()
print(species[0])

Carphophis amoenus

In [53]:
classes= df[['binomial','class_id']].drop_duplicates()

In [64]:
classes.to_numpy()[:,1]

array([18, 20, 25, 26, 39, 41, 48, 52, 54, 57, 60, 65, 71, 73, 83, 87, 88, 99, 110, 111, 113, 114, 122, 135, 140, 155, 158, 159, 162, 163, 165, 168, 169, 175, 177, 180, 185, 186, 188, 189, 191, 193,
       195, 203, 215, 216, 220, 226, 238, 255, 263, 280, 284, 302, 315, 319, 321, 323, 335, 338, 345, 348, 352, 360, 363, 364, 368, 373, 381, 383, 384, 396, 422, 424, 427, 429, 430, 441, 448, 453,
       454, 457, 462, 464, 470, 474, 477, 481, 485, 495, 497, 507, 515, 544, 545, 546, 560, 562, 575, 576, 578, 590, 603, 605, 609, 616, 617, 619, 623, 628, 629, 634, 651, 652, 656, 672, 674, 675,
       678, 686, 690, 691, 696, 698, 699, 701, 725, 738, 740, 741, 746, 747, 751, 755, 758], dtype=object)

In [66]:
# saving the DataFrame as a CSV file
classescsv = classes.to_csv('classes.csv', index = True)
#print('\nclasses:\n', classescsv)